<div class="basques-page">
  <div class="banner carousel-color">
    <div class="carousel event-carousel slide" id="baliCarousel" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#baliCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#baliCarousel" data-slide-to="1"></li>
        <li data-target="#baliCarousel" data-slide-to="2"></li>
        <li data-target="#baliCarousel" data-slide-to="3"></li>
        <li data-target="#baliCarousel" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
            <%= cl_image_tag "BaliRetreat2016_-3811_n911qq" %>
        </div>
        <div class="item">
            <%= cl_image_tag "BaliRetreat2016_-4091_xhp37z" %>
        </div>
        <div class="item">
            <%= cl_image_tag "BaliRetreat2016_-4826_p7sq8c" %>
        </div>
         <div class="item">
            <%= cl_image_tag "BaliRetreat2016_-4320_bjbcxs" %>
        </div>
        <div class="item">
            <%= cl_image_tag "BaliRetreat2016_-5306_nxuxon" %>
        </div>
      </div>
      <a class="carousel-control-prev" href="#baliCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#baliCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <div class="retreat-center">
    <h1 class="cover">Bali Oceanlove Retreat</h1>
  </div>
    </div>
  </div>

</div>

<ul class="flex-container basques-content">
  <li class="flex-item-1">
    <h1>Bali Oceanlove Retreat</h1>
    <h2>February 17–27, 2018 | €1451 - €1626 </h2>
    <p>You've got 10 days to travel with ten other women. Some may be strangers but after a few days, you'll become a traveling tribe.</p>
    <p>We all catch ourselves doing it: dreaming about sun, beaches, surfing, relaxing while being stuck at the office and it’s grey and cold outside. We admit to doing it too. That’s where a Travelogue retreat comes in handy! So get ready for our next edition: we decided to partner up with Seasoul Collective for an exclusive Balinese surf and yoga retreat.</p>
    <p>This trip will be what winter vacation dreams are made of luxurious accommodation, daily yoga, fun surf lessons, workshops and cultural experiences.</p>
    <p>For ten days you will share with other passionate female travelers an amazing villa located Canggu a perfect spot near the most beautiful beaches, where you will be able to bond and share your life experiences in an idyllic decor.</p>
    <p>You will be able to participate in Yoga sessions to rest your mind from your stressful everyday life, learn or just practice surfing to energize your hibernating body.</p>
    <p>For beginners or those who are confident in catching a green wave, we offer professional surf guided sessions, customized on your individual level.</p>
    <p>Finally, imbue yourself with the beauty of the Balinese landscapes. You will have the chance to hang out with locals and get a taste of the oh-so-famous chilled and relaxed Bali lifestyle.</p>
    <p>Enjoy 10 days of bliss at our tranquil Villa in Canggu, with surf, yoga, healthy food, cultural tours, professional photography and more…</p>
    <p>You love traveling? You want to learn something new? Discover a new culture? And relax?</p>
    <p>€1451 in a double room with an ensuite bathroom shared with your best friend</p>
    <p>€1626 in a double private room with ensuite bathroom</p>
    <p>For more info, send us an email at   <%= mail_to "hana@travelogue.co", "hana@travelogue.co" %>.</p>

  </li>
</ul>
