%div.basques-page

  %div.banner.carousel-color

    .carousel.event-carousel.slide{:id=>"retreatCarousel", :data => {:ride => "carousel"}}
      %ol.carousel-indicators
        %li.active{:data => {:target => "retreatCarousel", :slide_to => "0"}}
        %li{:data => {:target => "retreatCarousel", :slide_to => "1"}}
        %li{:data => {:target => "retreatCarousel", :slide_to => "2"}}
        %li{:data => {:target => "retreatCarousel", :slide_to => "3"}}
        %li{:data => {:target => "retreatCarousel", :slide_to => "4"}}

      .carousel-inner
        .item.active
          = cl_image_tag "marseille-seaside_i9wo9c", :alt => ""
        .item
          = cl_image_tag "beach-yoga_f4rzgg", :alt => ""
        .item
          = cl_image_tag "shawnee-wilborn-54431_mem0lz", :alt => ""
        .item
          = cl_image_tag "marseille-port_ocivi6", :alt => ""
        .item
          = cl_image_tag "land-water_p55xxn", :alt => ""
      %a.left.carousel-control{:href => "#retreatCarousel", :role => "button", :data => {:slide => "prev"}}
        %span.glyphicon.glyphicon-chevron-left
        %span.sr-only Previous
      %a.right.carousel-control{:href => "#retreatCarousel", :data => {:slide => "next"}}
        %span.glyphicon.glyphicon-chevron-right
        %span.sr-only Next


    %div.retreat-center
      %h1.cover{:style => "padding-top:70px;"} Just Relax Retreat in Provence France
      / %h3.cover Relax, Rewind and Raw Cosmetic Creation
      / %a.btn.btn-primary.community-button{"data-target" => "#basquesModal", "data-toggle" => "modal", :type => "button"}
      /   Apply to Join!
      / %div#basquesModal.modal.fade{"aria-labelledby" => "basquesModalLabel", :role => "dialog", :tabindex => "-1"}
      /   %div.modal-dialog{:role => "document"}
      /     %div.modal-content
      /       %div.modal-body
      /         %div.typeform-widget{"data-url" => "https://travelogue1.typeform.com/to/hwK5Bt", :style => "width: 100%; height: 500px;"}
      /         = content_for :javascript do
      /           (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })()
      /         %div{:style => "font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"}
      /           powered by
      /           %a{:href => "https://www.typeform.com/examples/?utm_campaign=hwK5Bt&utm_source=typeform.com-9436401-Basic&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN", :style => "color: #999", :target => "_blank"} Typeform


      /       %div.modal-footer
      /         %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close



%ul.flex-container.basques-content
  %li.flex-item-1
    %h1 Just Relax Retreat in Provence France
    %h2 November 16-19, 2017 | ~ €500
    %p You’ve got four days to travel with six other women. Some may be strangers but after a few days, you’ll become a traveling tribe.
    %p Marseille--shaped by an intersection of mountains, forests, the Mediterranean sea and old school ports--is the oldest city in France making it truly the French OG.
    %p You'll land in Marseille on Saturday and go straight to a beautiful house in Auriol. It's in the middle of the mountains and forest, yet still a stone's throw from the sea.
    %p November is a beautiful time to enjoy the south of France with way fewer tourists and a tad less heat.
    %p Our host will be Cécile, an amazing woman who will teach us yoga, meditation, and massage to learn how to relax and handle being in shape while still being on the grind in our everyday lives
    %p Valérie will host a workshop around natural cosmetics so you can walk away knowing how to create your own.
    %p Also, one day we'll spend time in Marseille seaside, go visit Vallon des Auffes or discover more food and culture in the city limits.
    %p It's going to be all about food, relaxation, swimming and natural cosmetics products, essentials oils, plants & DIY for you travel lovers.
    %p Email #{mail_to "hana@travelogue.co", "hana@travelogue.co"} for more information.

    %p= link_to "For more details visit here!", "https://www.dropbox.com/s/tqfxw3yv2o2jd8y/relax-rewind-cosmetic-retreat-program.pdf?dl=0", :target => "_blank"

  %li.flex-item
    %h2 Retreat Schedule
    %div.panel.panel-default
      %div.panel-heading
        %h3.panel-title Day 1
      %div.panel-body Arrive in Auriol. Appéro and drinks will follow in the evening.
      %div.panel-heading
        %h3.panel-title Day 2
      %div.panel-body Day trip to Cassis and Marseille where we will explore. Followed by welcome drinks with the speakers, then yoga and meditation with Alex. Finally, more appéro and drinks!
      %div.panel-heading
        %h3.panel-title Day 3
      %div.panel-body Early yoga with Alex. Then you have the choice to walk through the mountains or learn about Ayuverdic cooking with Alex. Next, we brunch! Afterwards you can find your dosha and diet according to your lifestyle with Alex, then, one-on-one massages with Florence. Wait, there's still more. We'll have a class on essential oils and how to create your own moisturizer with Caroline. Once again, there will be apéro and dinner.
      %div.panel-heading
        %h3.panel-title Day 4
      %div.panel-body Our last day will be filled with yoga and meditation, then one-on-one massages and naturopathic counseling with Florence. Afterwards you can create your own deodorant and toothpaste with Florence before we depart.

