<div class="flex">
  <div class="homepage-hero-module">
      <div class="video-container">
          <div class="filter" style="width: 1458px;"></div>
          <video autoplay loop class="fillWidth" style="width: 1458px;">
              <source src="<%= video_path "Honeymoon.mp4" %>" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
              <source src="<%= video_path "Honeymoon.webm" %>" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
          </video>
          <div class="poster hidden">
              <source src="/assets/videos/Honeymoon.jpg" alt="">
          </div>
      </div>
  </div>
  <div class="logo">
      <%= cl_image_tag "TRAVELOGUE-LOGO-FULL-WHITE_kqe6dz" %>
  </div>
</div>

<div class="below-main">
  <h3>
    Travelogue designs cozy, unique travel experiences for a social community of adventurous women.
  </h3>
  <input type="button" class="community-button btn btn-primary" value="Join the Community!" onclick="location.href = 'https://www.facebook.com/groups/281904978888004/'">
</div>

  <div>
    <h1 class="join-retreat" style="text-align: center">Why You Should Join</h1>
    <ul class="flex-container">

      <li class="home-boxes">
      <span><%= image_tag "map" %></span>
        <h3 class="homepage-boxes">
          Make New Friends <br>
          From Around the World
        </h3>
        <p>Meeting new faces is always a good idea and makes one happy! Travel with like-minded women who are all open for new adventures and learning new skills.</p>
      </li>
      <li class="home-boxes">
      <span><%= image_tag "compass" %></span>
        <h3 class="homepage-boxes">
          Learn Something New
        </h3>
        <p>Whether we are learning how to surfboard, creating our own cosmetics or just taking the extra time to do yoga and relax, you'll learn new skills by the end of the retreat. Escape your everyday routine! </p>
      </li>
      <li class="home-boxes join-right">
      <span><%= image_tag "suitcase" %></span>

        <h3 class="homepage-boxes">
          Discover Like a Local
        </h3>
        <p>Traveled to a new city and find yourself surrounded by tourists? Not on a Travelogue retreat :). Our guides and experts will show you secret parts of the city and share some of their favorite spots with us. </p>
      </li>
    </ul>
  </div>

  <div class="lower-boxes">
    <ul class="flex-container">

      <li class="home-boxes">

        <div class="image-thumbs">
          <%= cl_image_tag "land-water_p55xxn", class: "thumbs" %>
        </div>
        <h3 class="homepage-boxes">
          <%= link_to 'French Fall in Marseille', marseille_path %>
        </h3>
      </li>
      <li class="home-boxes">

        <div class="image-thumbs">
          <%= cl_image_tag "pays-basque_i27mjw", class: "thumbs" %>
        </div>
        <h3 class="homepage-boxes">
          <%= link_to 'Learn About Travelogue', about_path %>
        </h3>
      </li>
      <li class="home-boxes">

        <div class="image-thumbs">
          <%= cl_image_tag "moroccoboat_ju2dav", class: "thumbs" %>
        </div>
        <h3 class="homepage-boxes">
          <%= link_to 'Travelogue Workshops', workshops_path %>
        </h3>
      </li>
    </ul>
  </div>


