<div class="flex">
  <div class="homepage-hero-module">
      <div class="video-container">
          <div class="filter" style="width: 1458px;"></div>
          <video autoplay loop class="fillWidth" style="width: 1458px;">
              <source src="<%= video_path "Honeymoon.mp4" %>" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
              <source src="<%= video_path "Honeymoon.webm" %>" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
          </video>
          <div class="poster hidden">
              <source src="/assets/videos/Honeymoon.jpg" alt="">
          </div>
      </div>
  </div>
  <div class="logo">
      <%= cl_image_tag "TRAVELOGUE-LOGO-FULL-WHITE_kqe6dz" %>
  </div>
</div>

<div class="below-main">
  <h3>
    Travelogue designs cozy, unique travel experiences for a social community of adventurous women.
  </h3>
  <input type="button" class="community-button btn btn-primary" value="Join the Community!" onclick="location.href = 'https://www.facebook.com/groups/281904978888004/'">
</div>

  <div>
    <h1 class="join-retreat" style="text-align: center">Why You Should Join</h1>
    <ul class="flex-container">

      <li class="home-boxes">
      <span><%= image_tag "map" %></span>
        <h3 class="homepage-boxes">
          Make New Friends <br>
          From Around the World
        </h3>
        <p>Meeting new faces is always a good idea and makes one happy! Travel with like-minded women who are all open for new adventures and learning new skills.</p>
      </li>
      <li class="home-boxes">
      <span><%= image_tag "compass" %></span>
        <h3 class="homepage-boxes">
          Learn Something New
        </h3>
        <p>Whether we are learning how to surfboard, creating our own cosmetics or just taking the extra time to do yoga and relax, you'll learn new skills by the end of the retreat. Escape your everyday routine! </p>
      </li>
      <li class="home-boxes join-right">
      <span><%= image_tag "suitcase" %></span>

        <h3 class="homepage-boxes">
          Discover Like a Local
        </h3>
        <p>Traveled to a new city and find yourself surrounded by tourists? Not on a Travelogue retreat :). Our guides and experts will show you secret parts of the city and share some of their favorite spots with us. </p>
      </li>
    </ul>
  </div>

  <div class="testimonials">
    <div class="testimonial row">
      <div><%= cl_image_tag "Leonore_oamdqb", class:'testimonial-photo' %></div>
      <div class="col-sm-7">
        <p>Went to the 'Travel in your own city' Workshop today and not only got to learn how to make a super cool candle out of soy wax and essential oils, but also got to meet so many nice and inspiring women. It was a great experience and I can't wait for the next one!!</p>
        <p class="testimonial-name"><%= link_to "Leonore Bartsch from Berlin, Germany", "https://www.facebook.com/leonore.bartsch/activity/10212912081012596", target: "_blank" %></p>
      </div>
      </div>
      <div class="testimonial row">
      <div><%= cl_image_tag "Lili_zsz3td", class:'testimonial-photo' %></div>
      <div class="col-sm-7">
        <p>It was my first time to visit both France & Spain. Afraid? Not at all!!! Hana, as our organizer, took care of every detail from the very beginning to the very ending. Hanging out with them was also great, everyone could speak French but they all spoke English just for me:) Laura, one of the team members, even played the translator role in Spain.
        <br>I was trying to achieve the value of each trip as much as I can, but had no ideas how to do this every time. Travelogue told me the answer: learn something new in each travel! Surfing was such a wonderful match with Basque area and the skill will always stay with me even after long time.</p>
        <p class="testimonial-name">  <%= link_to "Lili Yutong Jiang from China, Nanjing", "https://www.facebook.com/100006271247565/activity/2042112829341072", target: "_blank" %> </p>
      </div>
      </div>
      <div class="testimonial row">
      <div><%= cl_image_tag "IMG_5464_tyy7mc", class:'testimonial-photo' %></div>
      <div class="col-sm-7">
        <p>I finally got to learn to beautiful art of Macramé thanks to @Travelogue and the wonderful @Hana and @Bohazel!
        <br>Yesterday's workshop at Bohazel was great, small groups and chill and friendly vibe with sangria. We even got to go home with our self-made plant hanger but also a beautiful plant!
        <br>I'm a workshopoholic, I'll definitely try out other workshops from Travelogue! </p>
        <p class="testimonial-name">  <%= link_to "Laura Sorbi from France, Paris", "https://www.facebook.com/lazour.sorbi/activity/10159385113010114", target: "_blank" %></p>
      </div>
      </div>
  </div>
</div>

